*{
	font-family: Arial,"Times New Roman";
  	box-sizing: border-box;
  	font-size: 17px;
}

body{
	background-image: url("seigaiha.png");
  	margin: 0 15%;
}
h1{
	color: #011135;
	font-size: 25px;
	border-bottom: 2px solid gray;
}

html,body{
  padding:0;
}

header{
	position: absolute;
	top:0;
	right:0;
	left:0;
}

footer{
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	height:50px;
	text-align: center;
	background-color:#333333;
	border-top: 5px solid #564f4f;
	color:beige;

}

/*~~~~~~~~~~Index Page~~~~~~~~~~~~~~*/

/* black background color to top navigation*/
.topnav{
	background-color:#333333;
	overflow:hidden;
	border-bottom: 5px solid #564f4f;
}

/*style the links inside the navigation bar*/
.topnav a{
	float:right;
	display:block;
	color: beige;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
#nameTopnav{
	float:left;
	color:#f2f2f2;
	width: 270px;
	margin-left:200px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    background-color: #011135;
}

.parent{
	position:absolute;
	margin-top:80px;
}

#box{
	background-color: beige;
	border: 1px solid gray;
	padding: 15px;
}
/*About me Box*/
.myself {	
	position: absolute;
	float:left;
	height: 550px;
	width: 600px;

}

.myself img{
	float:left;
	padding:10px;

}

/*Connect with me Box*/
.connect {
	position:absolute;
	left:700px;
	height:200px;
	width:300px;
	letter-spacing:2px;
	text-align: center;
	padding-right:20px;
	border: 2px solid gray;
}

.connect h2{
	color: #011135;
	font-size:22px;
	border-bottom: 2px solid gray;
}



/*~~~~~~~~Portfolio Page~~~~~~~~~~~~~*/
.portfolio{
	float:left;
	position: absolute;
	height:550px;
	width:600px;
}

.image{
	position: relative;
	height:200px;
	width:200px;
}

.image p{
	position: relative;
}


/*	text-align: center;
	color:beige;
	background-color:gray; */


.project{
	height:200px;
	width:200px;
	border: 1px solid gray;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 20px;
}


/*~~~~~~~~Contact Page~~~~~~~~~~~~~~~*/
label{
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

.contactBox {
	float:left;
	position: absolute;
	height:550px;
	width:600px;
}

.bodyContact{
	position:absolute;
	display:block;
	margin:0 10%;
	width:576px;
	border:2px;
}

/*centre the form within the page*/
form{
	float:left;
	margin:0 auto;
	width:459px;

}

/*style the text boxes*/
input, textarea{
	width:440px;
	height:27px;
	background:#efefef;
	border:1px solid: #dedede;
	padding:1px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
}

#submit {
    width:100px;
    height:38px;
    margin-top:20px;
    cursor:pointer;
    color:white;
    background-color: #011135;
    border-style:hidden;
}

